<div id="content" xmlns="http://www.w3.org/1999/html">
  <div class="post">



<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),html:{multipart: true,class:"form-4"}) do |f| %>
  <%= devise_error_messages! %>
        <h2>Sign up</h2>
    <div><%= f.label :email %><br />
      <%= f.email_field :email ,placeholder:"Email"%></div>

    <div><%= f.label :username %><br />
      <%= f.text_field :username,placeholder:"username" %></div>



  <div><%= f.label :password %><br />
  <%= f.password_field :password ,placeholder:"password"%></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation,placeholder:"confrim password" %></div>


   <p>
          <%= f.file_field :image ,placholder:"Choose image"%>
    </p>

  <div><%= f.submit "Sign up" %></div>


<p><%= render :partial => "devise/shared/links" %></p       >
   </div>
    </div>
    <% end %>